[submodule "libftTester"]
	path = libftTester
	url = https://github.com/Tripouille/libftTester
[submodule "libft-unit-test"]
	path = libft-unit-test
	url = https://github.com/alelievr/libft-unit-test
[submodule "libft-war-machine"]
	path = libft-war-machine
	url = https://github.com/y3ll0w42/libft-war-machine
[submodule "FT_SPLIT_TESTER"]
	path = FT_SPLIT_TESTER
	url = https://github.com/Ysoroko/FT_SPLIT_TESTER
